body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}
nav {
    background-color: #837777;
    color: #ffffff00;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    transition: text-decoration 1s ease-in-out;
}
h1 {
    color: #333;
    margin-top: 20px;
}
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
footer {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
header img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
div {
    margin: 20px 0;
}
.container8 {
    padding-top: 330px;
}
#about-carousel {
    position: relative;
    overflow: hidden;
    margin: 40px auto;
}
#about-carousel .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
#about-carousel section {
    min-width: 100%;
    flex-shrink: 1;
    padding: 20px;
    box-sizing: border-box;
}
#about-carousel .prev-btn, #about-carousel .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1111117b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}
#about-carousel .prev-btn { 
    left: 10px;
}
#about-carousel .next-btn {
    right: 10px
}
#about {
    height: 530px;
    padding: 155px;
}
#projects, #contact {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}
#contact form {
    display: flex;
    flex-direction: column;
}
#contact input, #contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contact button {
    margin: 5px 500px 5px 500px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
#contact button:hover {
    background-color: #555;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #555;
}
header {
    background-color: #f4f4f4;
    padding: 100px 0;
}
.header-text {
    text-align: left;
}
header .btn {
    margin-top: 15px;
}
.container0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 76%;
}
#why-me {
    text-align: left;
}
#why-me .container {
    left: 139px;
    position: relative;
    top: 34px;
    line-height: 41px;
}
.carousel-wrapper {
    width: 100%;
    overflow: hidden;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.project {
    min-width: 100%;
    flex-shrink: 1;
    padding: 20px;
    box-sizing: border-box;
}
#projects .container {
    padding: 97px 0 97px 0;
}
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1111117b;
    color: rgb(255, 255, 255);
    padding: 17px 22px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}
.prev-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}
.prev-btn i, .next-btn i{
    font-size: 37px;
}
.prev-btn i:hover, .next-btn i:hover{
    color: rgb(179, 170, 170);
}
#code i {
    font-size: 70px;
    cursor: pointer;
}
#code .container{
    gap: 27px;
    display: flex;
    padding: 24px;
}
.container3 {
    display: flex;
}
#code .container2{
    right: -461px;
    position: relative;
    width: 548px;
}
#code i:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
#tech {
    padding: 0px;
}
#tech .container {
    width: 628px;
    left: 160px;
    position: relative;
    padding-top: 28px;
}
#tech .container i{
    font-size: 70px;
    cursor: pointer;
}
#tech .container4 {
    gap: 17px;
    display: flex;
    border: none;
}
#tech i:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.container5 {
    display: flex;
}
#soft-skills {
    left: 316px;
    position: relative;
}
#soft-skills .container {
    width: 317px;
    text-align: left;
    line-height: 29px;
    font-size: 24px;
}

#connect .container {
    left: 179px;
    position: relative;
    width: 297px;
}
#download-cv .container {
    right: 496px;
    position: relative;
    width: 197px;
    bottom: 147px;
}
#connect .container a{
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}
#connect .container i {
    font-size: 70px;
    color: black;
}
#connect a:hover {
    transform: scale(1.2);
}
#edu .container{
    padding-top: 88px;
    width: 1541px;
}
#edu .carousel {
    display: flex;
}
.edu-carousel {
    position: relative;
    overflow: hidden;
    max-width: 1413px;
    margin: 32px;
    padding: 0 128px 0 109px;
}
.edu-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.edu-slide {
    min-height: 100%;
    flex-shrink: 0;
    display: flex;
}
.edu-slide img {
    width: 100%;
    max-width: 621px;
    border-radius: 80px;
}
.edu-slide img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.edu-prev, .edu-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.edu-prev {
    left: 10px;
}
.edu-next {
    right: 10px;
}
#certiAchiev .carousel-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1792px;
    margin: auto;
}
#certiAchiev .carousel-track{
    display: flex;
    transition: transform 0.4s ease-in-out;
}
.cerSlide {
    min-width: 100%;
    flex-shrink: 0;
    display: contents;
    align-items: center;
}
.cerSlide img {
    max-width: 100%;
    max-height: 223px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}
.cerSlide img:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.cerPrev, .cerNext {
    bottom: 146px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
    border-radius: 10px;
}
.cerPrev:hover, .cerNext:hover {
    color: rgb(179, 170, 170);
    transition: color 0.5s ease-in-out;
}
.cerPrev {
    left: -329px;
    position: relative;
}
.cerNext {
    right: -325px;
    position: relative;
}
#tools i {
    display: inline-block;
    font-size: 70px;
}
#tools i:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
#tools .container {
    width: 240px;
    left: 698px;
    position: relative;
    padding-top: 14px;
}
#languages .container{
    width: 143px;
    text-align: left;
    line-height: 24px;
    left: 433px;
    position: relative;
}
.container7 {
    display: flex;
}
.fa-html5:hover{
    color: rgb(223, 76, 36);
    transition: color 0.5s ease-in-out;
}
.fa-css3-alt:hover {
    color: rgb(83, 134, 211);
    transition: color 0.5s ease-in-out;
}
.fa-js:hover{
    color: rgb(180, 185, 44);
    transition: color 0.5s ease-in-out;
}
.fa-node-js:hover{
    color: rgb(55, 135, 23);
    transition: color 0.5s ease-in-out;
}
.fa-react:hover{
    color: rgb(38, 107, 205);
    transition: color 0.5s ease-in-out;
}
.fa-php:hover{
    color: rgb(10, 62, 135);
    transition: color 0.5s ease-in-out;
}
.fa-database:hover{
    color: rgb(213, 116, 26);
    transition: color 0.5s ease-in-out;
}
.fa-git-alt:hover{
    color: rgb(210, 62, 21);
    transition: color 0.5s ease-in-out;
}
.fa-python:hover{
    color: rgb(204, 191, 70);
    transition: color 0.5s ease-in-out;
}
.fa-java:hover{
    color: rgb(87, 55, 55);
    transition: color 0.5s ease-in-out;
}
.devicon-c-plain:hover{
    color: rgb(38, 107, 205);
    transition: color 0.5s ease-in-out;
}
.devicon-cplusplus-plain:hover{
    color: rgb(38, 107, 205);
    transition: color 0.5s ease-in-out;
}
.fa-file-word:hover{
    color: rgb(38, 107, 205);
    transition: color 0.5s ease-in-out;
}
.fa-file-excel:hover{
    color: rgb(55, 135, 23);
    transition: color 0.5s ease-in-out;
}
.fa-file-powerpoint:hover{
    color: rgb(210, 62, 21);
    transition: color 0.5s ease-in-out;
}
.devicon-canva-original:hover{
    color: rgb(56, 123, 215);
    transition: color 0.5s ease-in-out;
}
.fa-file-pdf:hover{
    color: rgb(220, 36, 36);
    transition: color 0.5s ease-in-out;
}
.devicon-chrome-plain:hover{
    color: rgb(34, 137, 27);
    transition: color 0.5s ease-in-out;
}
.fa-envelope:hover{
    color: rgb(209, 193, 55);
    transition: color 0.5s ease-in-out;
}
.devicon-vscode-plain:hover{
    color: rgb(56, 123, 215);
    transition: color 0.5s ease-in-out;
}
.devicon-linkedin-plain:hover{
    color: rgb(28, 65, 117) !important;
    transition: color 0.5s ease-in-out;
}
.devicon-facebook-plain:hover{
    color: rgb(20, 97, 205) !important;
    transition: color 0.5s ease-in-out;
}
.fa-whatsapp-square:hover{
    color: rgb(22, 181, 65) !important;
    transition: color 0.5s ease-in-out;
}

